/* Utilities */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    /* I have many troubles defining borders, margins and such,
    so i'm changing temporarly body background to a higher 
    contrast color  */
    /* background-color: #f6f8f9; */
    background-color: red;
}

/* Header */

header {
    margin-top: 1px;
    background-color: white;
}

.logo {
    padding: 5px;
    padding-left: 15px;
}

.logo_text {
    font-size: 3.5rem;
    font-weight: 900;
    margin-bottom: 10px;
}

/* Main */

.buttons {
    background-color: white;
    width: 1000px;
    margin: auto;
    margin-top: 50px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.management{
    margin: 20px 2.5px;
}

#task_button{
    margin-left: 20px;
}