/* Utilities */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    /* I have many troubles defining borders, margins and such,
    so i'm changing temporarly body background to a higher 
    contrast color  */
    /* background-color: #f6f8f9; */
    background-color: red;
}

/* Header */

header {
    margin-top: 1px;
    background-color: white;
    height: 60px;
}

.logo {
    padding: 5px;
    padding-left: 15px;
}

h1 {
    display: inline-block;
    font-size: 3.5rem;
}

.logo_text {
    
    /* font-weight: 900; */
    /* margin-bottom: 10px; */
}

/* Main */

.buttons {
    background-color: white;
    width: 1000px;
    margin: auto;
    margin-top: 50px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.management {
    font-size: 0.75rem;
    margin: 20px 2.5px;
    padding: 0.3rem;
    border-radius: 5px;
}

#task_button {
    background-color: #47adf1;
    margin-left: 50px;
    border: 1px solid #47adf1;
    color: white;
}

#section_button {
    background-color: white;
    border: 1px solid #c5cbd0;
    color: #c5cbd0;
}

.tasks {
    background-color: white;
    width: 1000px;
    height: 1500px;
    margin: auto;
    margin-top: 1px;
    margin-bottom: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}